@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-header {
  display: flex;
  justify-content: right;
  margin: 10px;
}

.App-header li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.action {
  color: #707070;
  text-decoration: none;
}